# VS Code - Live Server Settings
.vscode/settings.json
.vscode/launch.json
.vscode/

# Live Server Extensions
.liveserver.json
.liveserverrc

# Node modules (if applicable)
node_modules/

# OS files
.DS_Store
Thumbs.db

# extra
.gitignore
ejemplo.html
PARED.glb
scene.gltf
scene.bin
/PracticaAnimacion/oiiaioooooiai_cat.glb
/PracticaAnimacion/oiia-oiia-sound.mp3
/PracticaAnimacion/textures/

